
.pane1 {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	height: 100%;
	overflow: hidden;

	.fixed {
		padding: 5px;
		height: 40px;
	}

	.scrolled , > div {
		padding: 15px;			
		flex-grow: 1;
		height: 100%;
		overflow-y: auto;
		margin-right: 9px;
	}

	.add-button {
		position: absolute;
		bottom: 20px;
		right: 20px;
		height: 55px;
	}

	h2 {
		margin: 0;
		line-height: 2em;
	}
	hr {
		border: solid 0.5px #4d4d4d;
	}
	.search-box {
		width: 100% !important;
		div {
			color: #4d4d4d !important;
		}
	}
}

	