.home {
	border-top: solid 2px #0000003d;
	display: flex;
	flex-grow: 1;
	position: relative;

	.layout-splitter {
		transition: all 0.2s ease-in;
		background-color:  #0000003d !important;
		&:hover {
			background-color:  #5f5f5f3d !important;
			width: 8px;
		}
	}
}