.pane2 {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;

	.chat-panel-icon {
		transform: scale(7);
		fill: #663ab759 !important;
		animation-name: chatBubble;
		animation-duration: 5s;
		animation-iteration-count: infinite;
	}
	@keyframes chatBubble {
		0%   {transform: scale(7);}
		70%  {transform: scale(3);}
		100% {transform: scale(7);}
	}
}